.banner {
    height: 70px;
    width: 400px;
    background-color: lightskyblue;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(white.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 1000px;
    font-family: 'Yaldevi', sans-serif;
}

.welcome {
    background-image: url('swag.jpg');
    height: 600px;
    width: 1200px;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    margin-top: 60px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: 3px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    text-align: center ;
}

.button {
    display: inline-block;
    text-align: center;
    margin: 1px;
    border-radius: 50px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: 3px;
    color: black;
    padding: 10px;
    background-color: white;
    transition-duration: 0.4s;
    width: 250px;
}

.button:hover {
    background-color: lightskyblue;
    color: white;
}

.button-container {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    list-style: none;
}

.button-container li {
    display: inline-block;
}

a {
    text-decoration: inherit;
}

.AM {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
